pygame
wheel
numpy
PyOpenGL
sounddevice
soundfile
openai-whisper
transformers 
datasets[audio]
accelerate
tokenizers
click
spacy
natasha
pymorphy3 @ git+https://github.com/no-plagiarism/pymorphy3@master